.Toastify__toast--success {
  background-color: #4caf50; 
}

.Toastify__toast--error {
  background-color: #f44336; /
}

@media only screen and (max-width: 600px) {
  .Toastify__toast {
      width: 80%;
  }
}
