body, h1, h2, p, ul, li, button, input, select, textarea {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.client-screen,
.professional-screen,
.login-screen,
.main-screen {
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  height: 100vh;
}

.client-screen h1,
.professional-screen h1,
.login-screen h1,
.main-screen h1 {
  font-size: 32px;
  margin-bottom: 20px;
  color: #333;
}

.client-form input[type="date"],
.client-form input[type="time"],
.client-form select,
.client-form textarea,
.form-group input[type="text"],
.form-group input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.client-form button,
.user-options button,
form button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 12px 20px;
  cursor: pointer;
  width: 100%;
  border-radius: 4px;
  font-size: 18px;
  margin-top: 10px;
}

.client-form a,
.login-screen p a {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}

.date-time-input,
.select-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.professional-screen table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.professional-screen table th,
.professional-screen table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

.professional-screen .back-button,
.my-calendar .back-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  width: 100%;
  margin-top: 20px;
  border-radius: 5px;
  font-size: 18px;
}

.user-options {
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 800px;
}

.client-option,
.professional-option {
  background-color: #ffffff;
  border: 1px solid #ddd;
  padding: 20px;
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-options button:hover,
.client-form button:hover,
form button:hover,
.login-screen p a:hover,
.my-calendar .back-button:hover {
  background-color: #0056b3;
}

@media only screen and (max-width: 600px) {
  .user-options {
      flex-direction: column;
  }

  .client-option,
  .professional-option {
      width: 90%;
      margin-bottom: 20px;
      border-radius: 3%;
  }

  .user-options button {
      width: 100%;
  }
}

@media only screen and (max-width: 400px) {
  .client-form-container,
  .form-group input[type="text"],
  .form-group input[type="password"] {
      max-width: 100%;
  }
}

.client-form-container {
  background-color: #ffffff;
  border: 1px solid #ddd;
  padding: 20px;
  width: 80%;
  max-width: 600px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 0px;
}

.client-form-container input[type="date"],
.client-form-container input[type="time"],
.client-form-container select,
.client-form-container textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.client-form-container button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 12px 20px;
  cursor: pointer;
  width: 100%;
  border-radius: 4px;
  font-size: 18px;
  margin-top: 10px;
}

.logo {
  max-width: auto;
  height: 20%;
  display: block;
  margin: 0 auto; 
}

.logo2 {
  width: 60%;
}

.header {
  text-align: center; 
  padding: 20px;
  background-color: #f4f4f4; 
}


@media only screen and (max-width: 600px) {
  .client-form-container {
    width: 90%;
  }
}

